.premium-woo-product-thumbnail {
    height: 319px !important;
    min-height: 319px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden !important;
}

/* Make every product image the same height */
.premium-woo-product-thumbnail img {
    width: 100% !important;
    height: 250px !important;
    object-fit: contain !important;
    object-position: center center !important;
    display: block !important;
}

/* Same height for all product cards */
.premium-woocommerce .premium-woo-products-inner ul.products li.product {
    height: 550px !important;
    display: flex !important;
    flex-direction: column !important;
}

/* Product wrapper */
.premium-woocommerce .premium-woo-products-inner ul.products li.product .premium-woo-product-wrapper {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;

    -webkit-box-shadow: 2px 0px 17px 4px rgba(222,222,222,0.45);
    box-shadow: 2px 0px 17px 4px rgba(222,222,222,0.45);

    border-radius: 15px;
}

/* Price spacing */
.premium-woocommerce li.product .price {
    margin-top: 10px !important;
}

/* Align buttons */
.premium-woocommerce .premium-woo-products-inner ul.products li.product .button {
    margin-top: 10px !important;
	position: absolute !important;
bottom: 20px !important;
left: 18px !important;
}

.premium-woocommerce li.product .price {
	margin-top: 10px;
}




